<div class="login-container">
  <div class="left-side">
    <img class="img-logo" src="../../../assets/imgs/logo-grupo-madero.svg" alt="Grupo Madero">
    <span class="subtitle">Logistic Control</span>
  </div>

  <div class="mid">
    <img class="truck-left" src="https://img.icons8.com/?size=100&id=Xvy7ttndWOuX&format=png&color=000000" alt="Ícone">

    <div class="line"></div>

    <img class="truck-right" src="https://img.icons8.com/?size=100&id=Xvy7ttndWOuX&format=png&color=000000" alt="Ícone">
  </div>


  <div class="login-form">
    <form [formGroup]="loginFormGroup">
      <mat-form-field class="input-login">
        <mat-label>Email</mat-label>
        <input class="input-form" matInput type="email" formControlName="email" required>
        <mat-error *ngIf="loginFormGroup.get('email')?.invalid && (loginFormGroup.get('email')?.touched || loginFormGroup.get('email')?.dirty)">
          O email informado é inválido.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="input-login">
        <mat-label>Senha</mat-label>
        <input class="input-form" matInput [type]="passwordVisible ? 'text' : 'password'" formControlName="password" required>
        <mat-icon matSuffix (click)="passwordVisibility()" style="cursor: pointer;">
          {{ passwordVisible ? 'visibility_off' : 'visibility' }}
        </mat-icon>
        <mat-error *ngIf="loginFormGroup.get('password')?.invalid && (loginFormGroup.get('password')?.touched || loginFormGroup.get('password')?.dirty)">
          A senha é obrigatória.
        </mat-error>
      </mat-form-field>

      <button mat-raised-button class="login-button" (click)="login()">Login</button>

      <!-- SnackBar Message -->
      <div *ngIf="showSnackBar" class="snack-bar" [ngClass]="corSnackBar">
        <mat-icon>{{ iconeSnackBar }}</mat-icon>
        <span>{{ mensagemSnackBar }}</span>
      </div>
    </form>
  </div>
</div>

<ngx-spinner
  *ngIf="isLoading"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

